.nav
{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(196, 195, 195) 0px 0px 0px 3px;
     min-height: 70px;
     background-color: white;
   
}
.nav-item
{
    
    font-size: 20px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
   
}
.nav-item:hover
{
    
    border-bottom: 2px solid rgb(0, 0, 255);
   border-radius: 10px;
    color:green;
    font-weight: 700;
}
.logo1
{
    font-size: 30px;
    font-weight: 800;
}
.logo
{
    border-radius: 10%;
    justify-content: center;
    padding-left:15px ;
}
#navbar
{
    
     position:sticky;
     top:0px;
    
     z-index:2;
     
}