.notification
{
    background-color: #e2e2e2;
    min-height: 30px;
}
.noti
{
    min-height: 30px;
    background-color: grey;
    justify-content: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    color:White;
    text-align: center;

}
.marq
{
    min-height: 30px;
   
    font-weight: 500;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}


