.card{
    border-radius: 20px;
    box-shadow: 2px 2px 7px 0px #034994;
    transition: 1s ease;
}
.cardImg{
    border-radius: 20px 20px 0px 0px;
}
.bgImg{
    background-image: url(images/png.png);
    height: 500px;    
}
.aboutservice{
    background-color: rgba(77, 74, 74, 0.438);
    border-radius: 20px;
    text-align: justify;
    color: white; 
    box-shadow: 1px 1px 6px 1px rgb(11, 11, 11); 
    
}
.para{
    margin-top: 30px;
}

.cards:hover{
    margin-top: -20px; 
    background-color: beige;
    box-shadow: 2px 2px 10px 2px rgba(118, 187, 234, 0.816);
    

}
.cardbtn{
    transition: 1s ease;
    border: none;

}
.cardbtn:hover{
    background-color: rgba(75, 80, 235, 0.781);

}
.img-fluid{
    border-radius:50%;

}