.os
{
    background-color: lightblue;
    height: 70px;
    border-radius: 35px;
    text-align: center;
    line-height: 70px;
    font-size: 40px;
    font-weight: 700;
}
.card:hover
{
    box-shadow:  rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.img:hover
{
    box-shadow:  rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.view:hover
{
    box-shadow:  rgba(0, 0, 0, 0.35) 0px 5px 15px, rgb(151, 243, 223) 0px 0px 0px 3px;;
}