.TH
{
    background-color: #dbd3d3;
    min-height: 35px;
    box-shadow: 5px 5px 10px #d3d2d2;
   
}
.sml
{
    font-size: 17px;
    font-weight: 700;
}
.smr
{
    font-size: 17px;
    font-weight: 700;
}
