.col-sm-3{
    border-radius: 40px;
    background-color:whitesmoke;
    height: 100px;
    color: black;
    margin-left: 45px;
    margin-right: 20px;
    
   
    
}
.col-sm-3:hover{
    border-radius: 60px;
    background-color:paleturquoise;
    height: 50px;
    color: black;
    margin-left: 45px;
    
    
}